<!DOCTYPE html>
<html>
  <head>
    <title>successed</title>
    
  </head>
  <body>
    <h1>로그인에 성공하셨습니다</h1>
    <div>
        이름: <%= userinfo.name %><br>
        레벨: <%= userinfo.level %>
          
    </div>
    
  </body>
</html>